<settings>

    <setting propertyKey="@Properties.ExtraWidget" title="@Strings.ExtraWidgetTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.empty</listEntry>
            <listEntry value="0x000001">@Strings.hrGraph</listEntry>
            <listEntry value="0x000002">@Strings.speedLabel</listEntry>
            <listEntry value="0x000003">@Strings.caloriesLabel</listEntry>
            <listEntry value="0x000004">@Strings.altitudeLabel</listEntry>
        </settingConfig>
    </setting>

</settings>
